:host {
	display: block;

	.container {
		min-width: fit-content;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		align-items: stretch;
	}

	.header {
		margin-bottom: 16px;
		display: flex;
		justify-content: flex-start;
		align-items: end;
		flex-wrap: wrap;
		column-gap: 16px;
		row-gap: 8px;
	}

	h1 {
		margin-top: 0;
	}

	h1, label {
		white-space: nowrap;
	}

	.feature-container {
		display: inline-flex;
		align-items: center;
		flex-wrap: nowrap;

		&.icons {
			align-self: stretch;
			justify-content: space-between;
			align-items: flex-end;
		}
	}

	.button {
		cursor: pointer;

		&:first-child {
			margin-right: 4px;;
		}
	}

	.feature-label,
	.column-label {
		font-size: 1.5em;
		font-weight: bold;
		margin-block-start: .83em;
		margin-block-end: .83em;
		margin: 0 8px 8px 0;
	}

	.feature-label {
		margin: 0 8px 0 0;

		&:not(:first-child) {
			margin-left: 24px;
			&.small {
				margin-left: 16px;
			}
		}

		&.small {
			font-size: 1.2em;
		}
	}

	.column-label {
		&.cos {
			grid-column: 1 / span 4;
		}
		&.sin {
			grid-column: 6 / span 4;
		}
	}

	.feature-label::after,
	.control-label::after  {
		content: ':';
	}

	.fundamental {
		width: 5em;
	}

	.harmonics {
		width: 4em;
	}

	.hz{
		width: 1.2em;
	}

	.number {
		width: 2.5em;
	}

	.toggle {
		cursor: pointer;
		width: 32px;
	}

	.fundamental,
	.harmonics,
	.hz,
	.number,
	.toggle,
	.slider  {
		align-self: center;
	}

	.fundamental,
	.harmonics,
	.number,
	.frequency {
		text-align: right;
	}

	.controls {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		min-width: fit-content;
		margin-bottom: 16px;
		padding: 16px;
		border: 2px solid #999;
		border-radius: 8px;
	}

	.row {
		line-height: 24px;
		display: flex;
		justify-content: stretch;
		align-items: stretch;

		&:not(.control-grid):not(.gain):not(.offset) {
			column-gap: 16px;
		}
	}

	.column {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

	.offset,
	.gain,
	.reset {
		cursor: pointer;
		margin-top: 8px;
	}

	.reset {
		height: 24px;
	}

	.control-grid {
		flex: 1 1 100%;
		display: grid;
		grid-template-columns: 0fr 1fr repeat(4, 0fr) 1fr repeat(2, 0fr);
	}

	.control-label,
	.frequency {
		height: 24px;
	}

	.slider {
		cursor: pointer;
		flex-grow: 1;
		flex-shrink: 1;
		margin: 0 8px;
	}

	.auto-label {
		margin-right: 8px;
	}

	.field {
		width: 3em;
		text-align: right;
		appearance: textfield;

		/* get rid of the spin buttons on the number inputs */
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
		}
	}

	.clear {
		cursor: pointer;
		min-width: 20px;
		max-width: 20px;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}

	.frequency {
		margin: 0 16px;
		padding: 0 16px;
		border-left: 2px solid #999;
		border-right: 2px solid #999;
		justify-self: stretch;
	}

	.gain .field {
		width: 4em;
	}

	[disabled] {
		cursor: default;
	}

	.graph {
		flex: 1 1 100%;
		position: relative;
	}

	canvas {
		width: 100%;

		&#waveform {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
		}
	}
}
